.banner {
  position: relative;

  height: auto;

  color: white;

  &__background {
    object-fit: cover;
    width: 100%;
  }

  &__block {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__text {
    @include flex-column;
    justify-content: center;

    height: 100%;
    padding-left: 10rem;

    color: $silver-color;
  }

  &__title {
    max-width: 100%;

    font-family: $ff-medium;
    font-size: 5rem;
  }

  &__subtitle {
    max-width: 80%;

    font-size: 2rem;
  }
}
