.button {
  padding: 0;

  background: transparent;

  font-family: $ff-regular;
  font-size: $fs-regular;

  transition: all 0.3s ease-in-out;

  &--primary {
    color: $light-color;

    &:hover {
      color: $primary-color;
    }
  }


}
