// [color - variables]
// branding
$primary-color: #6EFCB1;
$secondary-color: #667081;
$dark-color: #222935;
$light-color: #FFFFFF;
$silver-color: #CCCCCC;
$error-color: #F44336;

$primary-hover-color: #2db274;
// font size
$fs-xxxsmall: 0.5rem;
$fs-xxsmall: 0.8rem;
$fs-xsmall: 1rem;
$fs-small: 1.3rem;
$fs-little: 1.2rem;
$fs-regular: 1.6rem; // -> base size
$fs-medium: 1.8rem;
$fs-large: 2rem;
$fs-xlarge: 2.4rem;
$fs-xxlarge: 2.8rem;
$fs-xxxlarge: 3.4rem;

// webkit
$webkit-bg: rgba($primary-color, .8);

// font family
$ff-extraBold: "SoraSemiBold", sans-serif;
$ff-bold: "SoraBold", sans-serif;
$ff-medium: "SoraMedium", sans-serif;
$ff-regular: "SoraRegular", sans-serif;
$ff-light: "SoraLight", sans-serif;
$ff-code: Consolas, Monaco, "Lucida Console", monospace;

// font weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 600;

// widths / heights
$aside-width: 18vw;
$section-content-width: 92%;

// paddings
$main-padding: $fs-regular $fs-xxxlarge;
$panel-padding: $fs-little;
$greeting-padding: 0 $fs-little;
$button-padding: $fs-xxsmall $fs-medium;
$block-padding: $fs-regular;
$card-padding: $fs-regular $fs-large;
$timeline-padding: $fs-little;
$skills-item-padding: 0 $fs-xsmall;
$input-padding: 0 $fs-xsmall;

// margins
$timeline-margin: $fs-medium;

// breakpoints
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 540px;
$xs: 360px;

// shadows
$box-shadow-light: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.06);
$box-shadow-medium: 0 8px 11px rgba(0, 0, 0, 0.1), 0 9px 12px rgba(0, 0, 0, 0.2);
$text-shadow-light: $secondary-color 1px 1px 5px;

// border
$button-border-radius: $fs-xxxsmall;
$secondary-border: 1px solid $secondary-color;
$primary-border: 1px solid $primary-color;
$skills-edit-border-radius: $fs-xxsmall;
$input-border-radius: $fs-xxsmall;
