html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details,
figcaption, figure,
footer, header, hgroup,
menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

ol, ul, li {
  list-style-type: none !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "SoraExtraBold";
  src: url("/fonts/Sora-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "SoraBold";
  src: url("/fonts/Sora-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SoraMedium";
  src: url("/fonts/Sora-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "SoraRegular";
  src: url("/fonts/Sora-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SoraLight";
  src: url("/fonts/Sora-Light.ttf") format("truetype");
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html ::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: transparent;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8);
  background-color: transparent;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #6EFCB1;
}

:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

body {
  height: 100vh !important;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "SoraRegular", sans-serif;
  color: #FFFFFF;
}

.app {
  background: url("/images/appBackground.png");
  background-size: cover;
}
.app main {
  height: 100vh;
  margin-left: 20vw;
  width: 77vw;
  padding: 6.12rem 0;
}

section {
  width: 100% !important;
}

.aside {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 18vw;
  height: 96vh;
  padding-top: 2.8rem;
}
.aside__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1.6rem;
}
.aside__title {
  color: #FFFFFF;
}
.aside__title--bold {
  font-size: 2.8rem;
  font-family: "SoraMedium", sans-serif;
  font-weight: 300;
}
.aside__title--small {
  font-size: 2rem;
  color: #CCCCCC;
}

.navbar__item {
  display: grid;
  grid-template-columns: 3rem 100%;
  align-items: center;
  gap: 0.8rem;
  padding: 1.6rem;
  border-radius: 12px;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.navbar__item--active {
  background: linear-gradient(450deg, rgba(38, 226, 179, 0) 5%, #448c7a 95%);
  font-weight: 600;
  color: #6EFCB1;
}
.navbar__icon-wrapper {
  align-items: center;
  justify-content: center;
}
.navbar__title {
  display: flex;
  align-items: center;
  height: 100%;
}

.content {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.8rem 0;
  border-radius: 0 3rem 3rem 0;
  border-top: 1px solid;
  border-image-source: linear-gradient(368deg, rgba(255, 255, 255, 0.2) 2.09%, rgba(255, 255, 255, 0) 99.19%);
  box-shadow: 5px -5px 4px 0px rgba(0, 0, 0, 0.1490196078), 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(370deg, rgba(215, 255, 233, 0.135) -107.64%, rgba(196, 34, 253, 0.216753) -107.64%, rgba(255, 255, 255, 0.205) -107.61%, rgba(253, 255, 254, 0.1) -91.28%, rgba(255, 255, 255, 0) 116.63%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(5px -5px 4px rgba(0, 0, 0, 0.15));
  backdrop-filter: blur(12.5px);
}

.auth {
  padding: 0 1.6rem;
}

.greeting {
  position: relative;
  height: auto;
  color: white;
}
.greeting__background {
  object-fit: cover;
  width: 100%;
}
.greeting__block {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.greeting__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10rem;
  color: #CCCCCC;
}
.greeting__title {
  max-width: 100%;
  font-family: "SoraMedium", sans-serif;
  font-size: 5rem;
}
.greeting__gradient {
  background: linear-gradient(96.9deg, #6EFCB1 44.6%, #5DE4FB 92.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.greeting__subtitle {
  max-width: 80%;
  font-size: 2rem;
}
.greeting__button {
  width: 30rem;
  height: 6rem;
  border-radius: 37px;
  background: linear-gradient(96.89deg, #6EFCB1 10.16%, #60E9EB 114.85%);
  font-family: "SoraMedium", sans-serif;
  font-size: 2.5rem;
}

.banner {
  position: relative;
  height: auto;
  color: white;
}
.banner__background {
  object-fit: cover;
  width: 100%;
}
.banner__block {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10rem;
  color: #CCCCCC;
}
.banner__title {
  max-width: 100%;
  font-family: "SoraMedium", sans-serif;
  font-size: 5rem;
}
.banner__subtitle {
  max-width: 80%;
  font-size: 2rem;
}

.button {
  padding: 0;
  background: transparent;
  font-family: "SoraRegular", sans-serif;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
}
.button--primary {
  color: #FFFFFF;
}
.button--primary:hover {
  color: #6EFCB1;
}

/*# sourceMappingURL=main.css.map */
