.content {
  height: 100%;

  box-sizing: border-box;

  @include flex-column;
  justify-content: space-between;

  padding: $fs-xxlarge 0;

  border-radius: 0 3rem 3rem 0;
  border-top: 1px solid;
  border-image-source: linear-gradient(368deg, rgba(255, 255, 255, 0.2) 2.09%, rgba(255, 255, 255, 0) 99.19%);

  box-shadow: 5px -5px 4px 0px #00000026, 0px 4px 4px 0px #00000040;
  background: linear-gradient(370deg, rgba(215, 255, 233, 0.135) -107.64%, rgba(196, 34, 253, 0.216753) -107.64%, rgba(255, 255, 255, 0.205) -107.61%, rgba(253, 255, 254, 0.1) -91.28%, rgba(255, 255, 255, 0) 116.63%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(5px -5px 4px rgba(0, 0, 0, 0.15));
  backdrop-filter: blur(12.5px);

}
