.navbar {
  &__item {
    display: grid;
    grid-template-columns: 3rem 100%;
    align-items: center;
    gap: $fs-xxsmall;

    padding: $fs-regular;

    border-radius: 12px;

    color: $light-color;

    transition: all 0.3s ease-in-out;
    &--active {
      background: linear-gradient(450deg, #26E2B300 5%, #448c7a 95%);

      font-weight: $fw-bold;
      color: $primary-color;
    }
  }

  &__icon-wrapper {
    @include flex-center;
  }

  &__title {
    @include flex-row;
    align-items: center;
    height: 100%;
  }
}
